<template>
    <card>
        <h5 slot="header" class="title">Edit Profile</h5>
        <div class="row">
            <div class="col-md-5 ">
                <input type="text" class="form-control"  v-model="form.name">
            </div>
           <div class="col-md-5 ">
                <input type="text" class="form-control"  v-model="form.lastName">
            </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-5 ">
            <vc-date-picker   v-model="form.birthday" />
        </div>
        </div>
        <br>
         <div class="row">
                 <div class="col-md-5 ">
        <button type="button" @click="dosave" class="btn btn-dark">save</button>
                 </div>
         </div>
        <br>
    </card>
    
</template>

<script>
import Vue from 'vue';
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
import VCalendar from 'v-calendar';


const axios = require('axios');
const URL = "http://localhost:3000";
Vue.use(VCalendar, {
    componentPrefix: 'vc', // Use <vc-calendar /> instead of <v-calendar />
    // ...other defaults
});


export default {

    data() {
        return {
            form: {
                name: "",
                lastName: "",

                birthday: new Date("2015-03-25")


            }
        }
    },
    methods: {
        dosave() {
            let data = {
                name: this.form.name,
                lastName: this.form.lastName,
                birthday: this.form.birthday.toString
            }
            axios.post(URL + '/usermusic', data).then(resp => {
                console.log(resp.data);
            });

        }


    }


}
</script>

<style>

</style>
