<template>
    <div>
        <h2>BookList</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">จัดการ</th>
    
    
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in items" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.numpage}}</td>
                    <td><button type="button" @click="edit(index)" class="btn btn-dark">Dark</button></td>
                    <td><button type="button" @click="deleteVueal(index)" class="btn btn-dark">Delete</button></td>
                    <td> <button type="button" @click="edit(index)" class="btn btn-dark">Editall</button></td>
                </tr>
    
    
            </tbody>
        </table>
        <input type="text" v-model="form.name">
        <input type="text" v-model="form.numpage">
        <button type="button" @click="editAll()" class="btn btn-dark">Editall</button>
        <button type="button" @click="save" class="btn btn-dark">Save</button>
        <button type="button" @click="add" class="btn btn-dark">Add</button>
        <button type="button" @click="dosave" class="btn btn-dark">saves</button>
        <button type="button" @click="dogetbranch" class="btn btn-dark">get</button>
    </div>
</template>

<script>
const axios = require('axios');
const URL ="http://localhost:3000";
export default {
    data() {
        return {
            items: [{
                    name: "EARTH",
                    numpage: 230,

                },
                {
                    name: "Book",
                    numpage: 5555,
                },
                {
                    name: "BookList",
                    numpage: 22222
                }
            ],
            form: {
                name: "",
                numpage: 0,
                idx: null
            }
        }
    },
    methods: {
        edit(index) {
            let data = this.items[index];
            console.log("Item" + data)
            this.form.name = data.name
            this.form.numpage = data.numpage
            this.form.idx = index
            this.items[index] = data
        },
        editAll() {
            this.items.forEach(e => {
                e.name = "num",
                    e.numpage = 0
                console.log("Array", e)
            })
        },
        save() {
            let data = this.items[this.form.idx];

            console.log("data", data)
            console.log("form", this.form)
            this.items[this.form.idx].name = this.form.name
            this.items[this.form.idx].numpage = this.form.numpage


        },
        deleteVueal(index) {
            this.items.splice(index, 1)
        },
        add() {
            let data = {
                name: this.form.name,
                numpage: this.form.numpage
            }
            this.items.push(data)
        },
        dosave() {
            let data = {
                username: 'tsetes',
                password: 'dfdf'
            }
            

            axios.post(URL+'/usersCreate', data).then(resp => {
                console.log(resp.data);
            });
            // this.items.push(data)
        },
        dogetbranch(){
            axios.get(URL+'/branch').then(resp => {
                console.log(resp.data  );
            });

        }
    },





}
</script>