<template>
  <div class="row">
    <div class="col-md-8">
      <edit-profile-form >
   
      </edit-profile-form>
    </div>
 
  </div>
</template>
<script>
  import EditProfileForm from './Profile/EditProfileForm';

  export default {
    components: {
      EditProfileForm
    
    }
   //   dosave() {
    //        let data = {
    //        username: 'tsetes',
    //          password: 'dfdf'
//}
//const axios = require('axios');
     //        axios.post('http://localhost:3000/usersCreate', data).then(resp => {
  //              console.log(resp.data);
//});
            // this.items.push(data)
  //      }
 // }
  }
</script>
<style>
</style>
